[2017-08-09 13:26] denysvitali opened #1 "Green Bars Issue"
Documented [here](https://github.com/denysvitali/linux-on-pixel-c/blob/master/issues/green-bars.md)

[2017-08-09 13:27] denysvitali opened #2 "Graphics Acceleration"
Currently Linux on Pixel C is missing GPU Acceleration, therefore the UI is laggy

[2017-08-09 13:29] denysvitali opened #3 "Broadcom 4354 chip doesn't work"
Currently the Bluetooth / Wi-Fi chip doesn't seem to power on, my assumption is that there is a GPIO control somewhere

[2017-08-09 13:31] denysvitali opened #4 "Sound doesn't work"
Sound deosn't work: I'm pretty sure some files in the kernel source are missing. We probably need to copy them over from [linux-tegra](https://android.googlesource.com/kernel/tegra/+/android-o-preview-4_r0.1) and enable the related options

[2017-08-09 13:32] denysvitali opened #5 "GNOME doesn't work on alarm ARMv8"

[2017-08-09 13:33] denysvitali opened #6 "Physical buttons don't work"
I'm pretty sure it is an error caused by libevent, that doesn't recognize the Power, Vol +, Vol - events.
Apparently they work in GNOME (or they were working at some point).

[2017-08-14 17:34] Echelon9 commented on #2
The `nouveau` graphics driver is looking for, but not finding, the GPU firmware files. That particular binary blob has been released in a redistributable form by nvidia.

See:
- (upstream) https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/nvidia/gm20b/gr
- (Arch package) https://www.archlinux.org/packages/core/any/linux-firmware/

Depending upon your bootloader, thos

[2017-08-14 18:14] denysvitali commented on #2
Thank you for your comment, I'll try to integrate the blob file in the kernel, or put it in the /lib folder.
I'll report back my findings

[2017-08-16 16:45] denysvitali commented on #2
Mmm, @Echelon9 that doesn't seem to be the problem. The file is available at `/usr/lib/nvidia/gm20b/gr/gpccs_inst.bin` (`/lib` is symlinked to `/usr/lib`), but apparently fails to load for some (to me unknown) reason

[2017-08-17 02:17] Echelon9 commented on #2
You'll want the full path to resolve to `/lib/firmware/nvidia/gm20b/gr/gpccs_inst.bin` in order for the kernel module to find it.

So in your approach, `/lib/firmware` symlinked to `/usr/lib`.

[2017-09-13 17:25] hhhh1338 opened #7 "No issue, just questions"
Nice work man! With this project.

I wanted to know for quite some time why linux operating systems are not ported to phones or tablets with android like on they are on desktops and laptops. I know linux can run on various devices with different CPU architectures,  I use linux daily, but why it is so hard to run some linux OS natively on android based device with linux kernel?

I know you can run

[2017-09-14 14:56] denysvitali commented on #7
Why did you remove the question? It was interesting! I re-added the text you removed, there is nothing to be afraid of when asking such a nice question 😃

Well, there are many reasons behind that, and I don't think I still got them all, but here are a few:
## Architecture
The most common Linux distros are made for i386 / amd64 (x86 / x64 processors), only a few of them decided to actively develop

[2017-09-19 18:45] denysvitali commented on #7
I forgot to mention [KDE Plasma-Mobile](https://plasma-mobile.org/)

[2017-09-21 16:14] Echelon9 commented on #2
@denysvitali any update from your further testing?

[2017-09-21 20:47] denysvitali commented on #2
I'm trying to port the 4.14-rc1 kernel right now, afterwards I'll try with your suggestions. I'll report back soon! 👍

[2017-09-21 21:14] denysvitali commented on #2
[Here is the new 4.14-rc1 dmesg](https://github.com/denysvitali/linux-on-pixel-c/blob/master/dmesg/4.14-rc1_20170921_230800.md)

### `/lib` is symlinked to `/usr/lib`
[code]
### `gpccs_inst.bin` exists in `/usr/lib/firmware/nvidia/gm20b/gr`
[code]

[code]

Some users on Arch Linux Forums suggest to set this kernel flag:
`nouveau.config=NvGrUseFW=1`

I tried to add it, but the result is exactly the

[2017-10-12 23:59] denysvitali commented on #2
May be helpful later: https://www.phoronix.com/scan.php?page=news_item&px=Tegra-2-Video-Decode-Driver-V3

[2017-10-13 03:31] Echelon9 commented on #2
Probably not, that relates to the older Tegra 2 GPUs. This device has a Maxwell series GPU.

[2017-10-13 22:40] denysvitali commented on #2
Yeah, realized after I posted. Brainfart :P

[2017-10-19 21:44] hhhh1339 commented on #7
Thank you for detailed answer. This is best explanation I have seen on the internet.
If I knew deleted posts could be read, I would not delete it.

So, what do you do to make hardware work properly? You download drivers from internet? Or code your own drivers?  Are drivers the only problem?

(As you can see, I made a new account, this time I will keep login details..)

[2017-10-19 22:02] denysvitali commented on #7
You might be interested in [Linux on Galaxy](https://seap.samsung.com/linux-on-galaxy), it made the headlines today :)

The problem itself is with vendors, and with who produces the drivers (most of the time they are developed by the manufacture themselves).
Currently the kernel-mess situation w/ Android is getting on the right track thanks to [Project Treble](https://source.android.com/devices/ar

[2017-10-26 07:10] bushvin commented on #3
Have you tried rfkill?

[2017-10-26 07:49] denysvitali commented on #3
The wifi chip doesn't show up in the [dmesg](https://github.com/denysvitali/linux-on-pixel-c/blob/master/dmesg/4.14-rc4_20171006_094829.md), looks like it doesn't get activated (enable pin set to LOW?) nor in `ip link` / `ifconfig`.

I may have found the source of the problem though: [we're missing some consumers](https://github.com/denysvitali/linux-smaug/blob/4.14-rc6/arch/arm64/boot/dts/nvidia/

[2017-10-27 22:39] denysvitali commented on #4
Seems like the `tegra-alt` modules aren't ready for 4.x yet
[code]

[2017-10-28 10:09] denysvitali opened #8 "Lightbar doesn't work"
With our `4.14.0-rc6` kernel (and previous), the lightbar doesn't work. Apparently there are some changes in the `mfd/cros*` drivers (`cros_ec_lightbar.c`) that are missing. We only need to port them to our `linux-smaug` kernel from Google's `linux-smaug`.

[2017-10-28 13:55] mirh commented on #2
[Ideas](https://archlinuxarm.org/forum/viewtopic.php?f=49&t=9688&start=70)

[2017-10-28 15:05] mirh commented on #7
Once upon a time linux distros weren't ported because there wwere many divergences between the-only-standardized-platform-on-this-earth (x86) and arm world.. That even if you had the most motivated developers, they'd have been already struggling to get even with the massive changes and reinvention of the wheel (e.g. switch to ION memory allocator, CMA, bluedroid..)
(also, I'd arrive to say that in

[2017-10-29 16:32] denysvitali commented on #2
Maybe @Gnurou can help us, somehow

[2017-10-29 23:22] Gnurou commented on #2
Mmm, everything seems to be in place, so I am not sure what happens here. I happen to own a Pixel C, so maybe I can try to reproduce and investigate. However I would like to avoid flashing it since I use it for work too. Has someone ever tried to boot off an external SD card and using just fastboot boot, instead of flashing?

I also think X may still require some extra patching to take advantage o

[2017-10-29 23:47] denysvitali commented on #8
I'm trying to fix it on [linux-smaug/lightbar-fix](https://github.com/denysvitali/linux-smaug/tree/lightbar-fix) branch. I still can't figure out why the request messages are too big.

[code]

Relevant files:
- https://android.googlesource.com/kernel/tegra/+/android-tegra-dragon-3.18-oreo-r6/drivers/mfd/cros_ec_i2c.c
- https://github.com/denysvitali/linux-smaug/blob/lightbar-fix/drivers/platform/c

[2017-10-30 00:11] denysvitali commented on #2
@Gnurou The cleanest way to do it is to format the system partition (doesn't contain any personal data) and put the Arch Linux Arm files there (rootfs). I'll post my system.img here in a few minutes, so you can try it out.

For the kernel, you can try with my latest build (from lightbar-fix branch). This kernel boots from /system/, therefore your /data partition isn't touched at all.

## Kernel
Th

[2017-10-30 05:26] Gnurou commented on #2
Thanks for the instructions, although I'd rather not mess with my work device at all :) I remember booting to a SD card rootfs on my old SHIELD device, let me see if I can reproduce that result on the Pixel C too since USB seems to work. I suppose that kind of setup could be useful to other users as well.

Or maybe I can put my hands on another device just for this issue. I will come back once I h

[2017-10-31 19:39] opendata26 commented on #2
You could try adding drm.debug=31 to cmdline for more debugging

[2017-10-31 21:02] opendata26 commented on #2
@denysvitali also try building as a module

[2017-10-31 22:23] Gnurou commented on #2
It indeed looks like the firmware files are not present on the initramfs, which would explain why the firmware loading function returns -ENOENT.

Building Nouveau as a module should definitely do the trick. An alternative would be to include the firmware files directly within the kernel image using CONFIG_EXTRA_FIRMWARE, but that's definitely not clean. I see no reason to not built Nouveau as a mo

[2017-11-01 02:42] denysvitali commented on #3
The first problem was that the module Kconfig file had a different name, therefore it didn't get compiled. Now we have to port the brcmdhd driver to 4.11.

These are the errors, as of today:
[code]

[2017-11-01 02:51] denysvitali commented on #2
It works indeed. I've selected nouveau as a module, added `drm.debug=31` (to add more debugging) `insmod`ed the moduleit and tadà:
![Accleration is now available](https://i.imgur.com/AV7BmpM.jpg)

It is still laggy with GNOME and videos are choppy, but it seems to be accelerated 👍

Thank you!

[2017-11-01 02:54] Gnurou commented on #2
Oh wow, that's fantastic! Try setting the GPU clock to a higher speed, performance should increase:

    echo b >/sys/class/drm/card1/device/pstate

... or something like that. cat pstate to see which values are acceptable.

Is this X? I would be surprised if it works out-of-the-box, last time I checked it (and Mesa) required a few external patches to connect the display and render nodes together.

[2017-11-01 12:17] denysvitali commented on #2
@Gnurou Yes, it is X. Although GNOME runs on Wayland.
Unfortunately I don't have any `pstate` in `/sys/class/drm/card1/device`.
[Apparently the GM20b doesn't support clocking via nouveau](https://wiki.freedesktop.org/nouveau/)

Here is the tree output of `/sys/class/drm`. I still can't figure it out why there are two cards, and why the screen [looks like this](https://github.com/denysvitali/linux-

[2017-11-01 12:41] mirh commented on #2
[That's](https://www.phoronix.com/scan.php?page=news_item&px=GM20B-Clock-Driver) a bit [outdated](https://www.phoronix.com/scan.php?page=news_item&px=Nouveau-Okt-Clocking).
Moreover, X1 seems like the [luckiest](https://www.phoronix.com/scan.php?page=news_item&px=Nouveau-Initial-Signed-PMU-20B) nvidia gpu since half a decade.
EDIT: *fixed last link

[2017-11-01 13:51] denysvitali commented on #2
I tried the `nouveau.NvFanless=true` / `nouveau.conifg=NvFanless=1` boot parameter, but apparently nouveau doesn't recognize it

[code]

[2017-11-01 13:59] mirh commented on #2
Cause those patches haven't been pulled/mainlined yet.

[2017-11-01 14:03] Gnurou commented on #2
Sorry, my mistake. The pstate node has been moved to from sysfs to debugs. So you should be able to find it under /sys/kernel/debug or wherever debugfs is mounted.

Still I am not convinced that X is using acceleration at the moment. You may want to check by looking for mentions of glamor the in X logs, or running glxgears or some other GL-enabled application. My bet is that some patching is still

[2017-11-01 14:23] denysvitali commented on #2
Found it: `/sys/kernel/debug/dri/1` (which is the same as `/sys/kernel/debug/dri/129`)
[code]
=>
[code]

[code]

![2017-11-01-141659_2560x1800_scrot](https://user-images.githubusercontent.com/4939519/32279165-371e15b6-bf18-11e7-9822-85b39c863268.png)

Doesn't look good to me :(

[2017-11-01 15:44] opendata26 commented on #2
startx -- -logverbose 9 -verbose 9  try this, itll give some more x debug output

[2017-11-01 18:01] denysvitali commented on #2
@opendata26 Here is the X log w/ verbosity set to 9 (I removed the lines after inputs, since they aren't releveant to our problem.

[code]

This line caught my attention
[code]

Current boot args:
[code]

I did symlink `tegra_dri.so` to `nouveau_dri.so`, JFYI
[code]

I also saw that there is an `nvidia_drv.so` in the Linux 4 Tegra drivers package. I have now tried to copy the necessary files in th

[2017-11-01 22:39] Gnurou commented on #2
I think that's the stage where I need to look at my old Xorg an Mesa repositories. :) Let's see if I can get the system to boot and run on a device first, will probably take a few days before I can make an attempt.

[2017-11-02 07:46] opendata26 commented on #2
You could try disabling aglx?

[2017-11-02 15:44] opendata26 commented on #3
@denysvitali bcmdhd shouldn't be needed, the brcmfmac driver should work fine

[2017-11-05 20:28] denysvitali commented on #2
As suggested by @mirh (in private) [this](https://github.com/RaumZeit/PKGBUILDs/tree/master/alarm/gpu-nvidia-tegra-k1) may be useful

[2017-11-05 22:03] Gnurou commented on #2
Probably not, as this appears to be for managing the non-upstream (i.e. not Nouveau) driver.

[2017-11-07 12:53] denysvitali commented on #3
Actually, the problem may be [this](https://github.com/denysvitali/linux-smaug/commit/6b35925e35fdccd181833e52c99ca265f9d64dd1#commitcomment-25445634). Yes, I'm stupid.

[2017-12-02 15:34] vartom commented on #2
Hey. I downloaded the kernel and root directory of the message https://github.com/denysvitali/linux-on-pixel-c/issues/2#issuecomment-340314777. The system does not start. Tried to rebuild the kernel, as well as no launch. I found how to solve the problem with the firmware files. The solution is to add the firmware files to the vendor's directory in initramfs or add all the files to the kernel. Unf

[2017-12-03 14:26] vartom commented on #2
Did you try to connect the monitor through HDMI?

[2017-12-03 15:29] denysvitali commented on #2
@vartom Unfortunately I don't have much free time to dedicate to the project 😞 . I haven't yet found a way to have an output on the HDMI.

About the rootfs, you can try to use the kernel posted here and use [the /system instructions](https://github.com/denysvitali/linux-on-pixel-c#using-system-partition) to build your own rootfs.

[2017-12-10 14:44] vartom commented on #1
Bars are obtained due to disruption to the DSI mode even-odd split.
a little about the differences you can see [here](http://www.latticesemi.com/~/media/LatticeSemi/Documents/UserManuals/1D2/FPGA-IPUG-02028.pdf?document_id=52164)

But this mode should not work if you believe this message
https://github.com/denysvitali/linux-smaug/blob/4.14-rc6/drivers/gpu/drm/panel/panel-sharp-lq101r1sx01.c#L227

[2017-12-11 07:44] denysvitali commented on #1
Yeah, you probably are right. This may explain the odd behaviour that can be sometimes happen when using our kernel: the left half of the screen goes black, whilst the right side stays "on" with the content displayed correctly.
![screenshot from 2017-12-11 08-34-46](https://user-images.githubusercontent.com/4939519/33820384-701e7a9e-de4f-11e7-860d-0e944e17e217.png)

I still don't understand what a

[2017-12-25 07:29] kendling opened #9 "Can't enter desktop"
I extract the arch-xfce-lightdm.tar.gz to /data.
And then I run `fastboot boot boot-4.13-rc4_20170816_114501.img.unsigned` or `fastboot boot boot-4.13-rc4_20170809_223257.img`.

It can see the noise screen both.

But I can't enter the desktop after waiting 30 minutes.

[2017-12-25 09:02] denysvitali commented on #9
Thank you for opening this issue and trying the project.
Did you extract the files in `/data/Arch` or just `/data`?

Can you post the output of `ls /data/Arch`?

[2017-12-25 09:05] kendling commented on #9
Thank for reply.
The extract path is `/data/Arch/`.

I following your step:

    adb push arch-xfce-lightdm.tar.gz /data/
    adb shell (gets a shell into the device)
    cd /data
    tar -xvf arch-xfce-lightdm.tar.gz

[2018-01-15 17:36] vartom commented on #9
After installing 8.1 Linux kernel can not mount the disk. Requires the config_quota. Adding this config does not seem to solve the problem.

[2018-01-16 07:19] denysvitali commented on #9
@kendling @vartom
I'm sorry but I'm quite busy these weeks (it's a period full of midterms and finals, my free time is very limited).
I'll provide more help ASAP.

@kendling Are you using `busybox`'s tar? The one included in TWRP is quite buggy and doesn't extract everything. Check [this section](https://github.com/denysvitali/linux-on-pixel-c#extract-the-filesystem), specifically the note right a

[2018-01-16 12:09] vartom commented on #9
So added it to the config
CONFIG_QUOTA=y
and
CONFIG_QFMT_V2=y
The internal memory is mounted. Logs are written. But I never saw the desktop. There is no picture on the display.

[2018-01-23 13:40] denysvitali commented on #8
Fixed in [4.15-rc8-feature-lightbar](https://github.com/denysvitali/linux-smaug/tree/4.15-rc8-feature-lightbar). The fix is now merged in [4.15-rc8](https://github.com/denysvitali/linux-smaug/tree/4.15-rc8).

[2018-01-23 13:40] #8 closed

[2018-02-02 02:11] kendling commented on #9
@denysvitali Still not working.

I was try to redownload FS and extract by new `busybox tar` from busybox.net.

Show this screen after noise screen.
![_20180202100713](https://user-images.githubusercontent.com/3919496/35713249-52b985d0-0801-11e8-8d61-98cc1265f0f0.jpg)

[2018-02-02 02:40] vartom commented on #9
So not only I have such a problem with the launch.
I already tried to build the kernel 4.9. The screen has the same noise and bars. The system startup logs and X look normal.

[2018-02-02 06:14] denysvitali commented on #9
The thing you guys can try (just to test if the kernel is working) is to use the [NVIDIA's rootfs (Ubuntu)](https://developer.nvidia.com/embedded/dlc/sample-root-filesystem-r2422)

I have to find a better way to create a customized rootfs of Arch Linux w/ lightdm and some other customizations: after my exams (after February 8) I'll dedicate all of my free time to this project.

I'm using [this](ht

[2018-02-02 06:51] vartom commented on #9
I tried using  NVIDIA's rootfs (Ubuntu) 24.x and 28.1. I tried to use Nvidia with a driver package for tegra and without this package. The result is the same. Instead of the terminal which I see using a 3.18 kernel, I look the same strips.
 I tried to run a different rootfs using the 3.18(stok) kernel including its earlier version (July 1, 2015) and the systems started and the screen displayed the

[2018-02-02 10:27] denysvitali commented on #9
Okay, so now you're talking about #1 , instead of #9 (this issue, "Can't enter desktop").

Maybe the problem is in the dts. In our kernel we use a different dts from the one used in Google's kernel

[2018-02-03 07:27] vartom commented on #9
As it turned out, these problems are interrelated. If in august you like get a picture and # 1 for you a bug, then for me this is a primary problem since I do not get a normal picture at all.

[2018-02-07 15:14] Samt43 commented on #1
@vartom I have exactly the same problem on my device,
These green bars are always there and i couldn't find any way to get rid of them until now unfortunatly.
I think that yes, the problem come from DSI port configuration but i still can't understand why it works correctly with google stock kernel.
"To support a different mode a mechanism needs to be
put in place to communicate the configuration b

[2018-02-07 15:18] denysvitali commented on #9
Can you guys please try with [this boot image](https://ded1.denv.it/boot-linux-4.8.y-d4ed7e5e8657_20180207_122924.img.unsigned) (also available [here](https://github.com/denysvitali/linux-smaug/releases/tag/d4ed7e5e8657)) and [this rootfs](https://ded1.denv.it/rootfs.tar.gz)?

[Follow this procedure](https://github.com/denysvitali/linux-on-pixel-c/#using-system-partition), the rootfs must be place

[2018-02-07 15:43] denysvitali commented on #1
Apparently w/ [linux-4.8.y](https://github.com/denysvitali/linux-smaug/tree/linux-4.8.y) (refer to [this comment](https://github.com/denysvitali/linux-on-pixel-c/issues/9#issuecomment-363801452) for more information on how to run it) the bars don't appear. There are still some (minor) glitches that disappear after the screen is clicked.

[2018-02-08 08:46] marcan commented on #1
I don't think this has anything to do with DSI. I think this is an issue with the display engine fetching pixels from the framebuffer. Maybe @Gnurou could shed some light on what might cause this?

[2018-02-08 14:52] vartom commented on #1
I analyzed the code in kernel 3.18 and the one that was applied in 4.8 and came to the conclusion that the problem can be hidden only in power management. https://github.com/denysvitali/linux-smaug/commit/87904c3e82319cf2bad8d656d79c5030dab9490e
 I also found that https://github.com/denysvitali/linux-smaug/commit/f08c32f1123570e03521c9bec2e8628294b66fbd this is a message that in the case of our ta

[2018-02-08 15:42] marcan commented on #1
I'm seeing the green bars issue on another device and I'm 99% certain it has nothing whatsoever to do with DSI. I know this because the green bars do not affect the hardware cursor, and because they scale together with the framebuffer. If it were a DSI issue it would affect the entire screen regardless of where the pixels come from. It's possible we're looking at different problems, though, but th

[2018-02-08 15:52] denysvitali commented on #1
@marcan Is the device you're talking about Tegra (or just NVIDIA) based?
May I know what device is it, and which kernel version works / displays the bars?

[2018-02-08 16:20] marcan commented on #1
It's Tegra210, same as the Pixel C. I'm not doing much development, just testing, but I'll try to drag someone else who is working on it here. The kernel is mainline git (somewhere circa 4.15-rc9).

[2018-02-08 16:38] dhewg commented on #1
I'm seeing similar effects on this cutie: https://imgur.com/a/ZZFDi
This is on mainline 5132ede0, somewhere between v4.15-rc9 and v4.15

While a reboot may work around that, this script does too (on this device there's a ~50% chance it'll work afterwards):

[2018-02-08 17:12] denysvitali commented on #1
@dhewg
Yeah, I tried that too (I didn't documented it though), and I can confirm ot works 25% of the time for me.
Restarting lightdm (not sure why just lightdm) seems to fix the problem sometimes, and sometimes it triggers it

[2018-02-08 17:14] denysvitali commented on #1
@marcan Have you tried with an older kernel? 4.9.y seems to work fine on the Pixel C. I'm not sure at the moment if it's caused by the Nouveau driver.
What panel are you using? The Pixel C uses a JDI LPM102A188A

[2018-02-08 17:42] dhewg commented on #1
We didn't yet try an older kernel.
And this is a JDI LPM062M326A panel.

[2018-02-08 18:10] denysvitali commented on #3
It still doesn't work. Apparently the WiFi chip needs to be enabled via a GPIO, but I still haven't figured out how to do it.

cc/ @samt43 @vartom

[2018-02-09 03:31] vartom commented on #1
@dhewg The JDI LPM062M326A panel you have connected to two DSI channels? those running in ganged mode? Can you show the driver source for this panel?

[2018-02-09 03:59] Gnurou commented on #1
I have seen that issue, but don't know what the cause is. @thierryreding may have some insight.

[2018-02-09 05:44] dhewg commented on #1
It's not running in ganged mode, but I don't think it matters.
Try this:

This will set up a 256x256 black cursor at 256,256 on the screen. You'll get a black rectangle that punches right through all the green bars.
There'd be no punching through if this was a DSI issue.

[2018-02-09 06:36] vartom commented on #1
Why are you so sure that not DSI issue? How can you explain that after removing the PM, issue disappeared?
P.s.  In the kernel 4.14-rc6, the described rollback of the PM did not lead to a positive result.

[2018-02-09 06:51] marcan commented on #1
A DSI issue would affect the entire screen. The panel doesn't know anything about the cursor. If the cursor is not affected by the green bars, it's guaranteed not to be a panel/DSI issue. If you try that shell script and you get a black square with no green bars, your issue isn't a DSI issue either. If you *do* get green bars through the cursor, then the problem you're seeing and the one we're see

[2018-02-09 07:28] vartom commented on #1
In my case, if i use 4.14-rc6 kernel, I always see only the bars as on the first photo in the first post. They are green or later become blue. Only at 4.8/4.9 with my changes I saw a normal picture on the screen.
The script will try to apply later.

[2018-02-09 08:02] Samt43 commented on #1
I have always greens bars on my pixel c with recent kernels.
I could do some test some time ago on my pixel C and it seems that display is not setup in even-odd split. I can affirm this by this : if you modify mipi_dsi_dcs_set_page_address by changing the pixel column address for one of the DSI Lane, then only the right of the left part of the screen is modified.

https://github.com/denysvitali/li

[2018-02-09 08:49] Samt43 commented on #1
The noise observed on the screen when I did the column modification didn't contains any vertical line... I'm wondering if these lines are not really written on the framebuffer. So strange.

[2018-02-09 09:00] marcan commented on #1
The lines are not in the host framebuffer memory (you can confirm that by dumping /dev/fb0) and they are not introduced by the DSI block or the panel (you can confirm that with the cursor trick mentioned earlier). If you modify the DC window A to not cover the full display the non-covered portion is also free of lines. That means the problem is introduced somewhere in the pixel fetch pipeline. As

[2018-02-09 09:08] vartom commented on #1
del.

[2018-02-09 09:20] marcan commented on #1
I don't think the problem is a simple performance issue (memory subsystem not meeting streaming requirements of the display). The X1 TRM says DC handles underflow by repeating the last valid pixel. That's not what we're seeing here. Enabling underflow debug mode (should show a solid pixel) doesn't change the output. The underflow counters (DC_A_WINBUF_AD_UFLOW_STATUS_0) are zero.

[2018-02-10 11:44] Samt43 commented on #1
I could try the smaug kernel forked by denysvitali, and no green bars anymore !
lightdm and weston are now working without bars, only graphical acceleration seems to be missing due to :
MESA-LOADER: failed to retrieve device information
gbm: failed to open any driver (search paths /usr/lib/dri)
gbm: Last dlopen error: /usr/lib/dri/tegra_dri.so: cannot open shared object file: No such file or direc

[2018-02-10 12:55] vartom commented on #1
@Samt43 4.8 this is the kernel with the fix I found.

[2018-02-11 12:48] Samt43 commented on #1
@vartom This kernel works like a charm for me :)
So the fix doesn't work with more recent versions if i understand ?
How did you came to the conclusion 4.8 could work with this ?
Thanks again, i'm now investigating why gbm doesn't load the tegra driver correctly and load swrast instead.

[2018-02-11 14:45] vartom commented on #1
I tried similarly to roll back the kernel 4.14. It did not help. the kernel did not start. Maybe I'm just somewhere wrong and not all rolled. A similar patch helped run 4.9, I did not try other versions to run.
I analyzed the native 3.18 kernel and compared it to the mainline kernel. I checked two very early versions of 3.18 to test how the screen works with the minimum number of patches made by G

[2018-02-11 18:45] thierryreding commented on #1
@vartom I suppose this could've been caused by the power domain support patches. Patch Nr. 1 that you've linked to seems to intend to reset the device prior to using it. Unfortunately that no longer works since commit 64230aa075864f7c8e270b583bca685304246b57 in mainline. That change is supposedly the right thing to do, but I could imagine that it might break things.

One thing you could try is tak

[2018-02-11 19:50] marcan commented on #1
@vartom Did you ever get a chance to run that cursor test? It would be good to know if your problem has the same behavior as the one we're seeing.

@thierryreding do you think issues with the DSI block could affect upstream logic in DC, or perhaps we're seeing two different problems with a similar manifestation here?

[2018-02-12 04:29] vartom commented on #1
@marcan I can not do this cursor test. Since when I see the strip on the screen the system does not boot. Only the kernel is started. Accordingly, the script is not executed.

[2018-02-12 05:48] marcan commented on #1
This fixed it for me. It seems the powergate logic does not reset DC properly, so it comes up in a broken state.
[code]

I wonder if the issue has something to do with the fact that the DC clock is dynamic and derived from the mode. Maybe it's not set up when it is powered up, and it needs a clock to reset properly? Or maybe it's a timing issue and the powergate code does not give DC enough time t

[2018-02-12 06:11] delroth commented on #1
Confirmed that disabling powergating for DC seems to fix the issue. I could observe some pseudo-randomness in the DC reg state across reinits before, that has now disappeared.

Increasing the delays in the powergate sequence code to the values dc.c uses doesn't seem to help.

[2018-02-12 06:43] vartom commented on #1
@delroth Did you check this on a pixel С? on which version of the kernel?

[2018-02-12 10:53] cyndis commented on #1
I have had similar coloured stripes on a Jetson TX1 on HDMI output - disabling powergating seems to fix this for me as well.

[2018-02-12 11:42] cyndis commented on #1
This could be related to missing DMA queue flushes on powergating, looking into that

[2018-02-12 12:08] vartom commented on #1
@thierryreding Works great. Thanks for describing the solution. The variant you proposed worked together with the addition of has_powergate = false. Smaug. Kernel 4.15.2 mainline.

[2018-02-12 13:42] thierryreding commented on #1
@vartom @marcan Thanks for that hint. Disabling power gating unconditionally is likely going to break for devices where the bootloader did not power up the display partitions. However, the fact that it works with has_powergate = false makes me think, as @cyndis suggested, that we're running into one of those strange issues where the memory access queueing breaks. There's a set of patches that atte

[2018-02-12 13:47] thierryreding commented on #1
Oh, perhaps one interesting test would be to force a modeset and see if things are fixed after that. Maybe repeat a couple of times to see if things break again after subsequent modesets. That would give us a clue about whether the issue is limited to driver probe time or more generally to suspend/resume.

You should be able to force a modeset using the instructions from @dhewg's comment earlier:

[2018-02-12 15:03] marcan commented on #1
@thierryreding your patches don't help... but I found something else that does. This patchset.

https://patchwork.ozlabs.org/project/linux-tegra/list/?series=25347

Unfortunately, it's broken on the legacy API path. `tegra_powergate_power_up` segfaults because `pg->pmc` is uninitialized in the path coming from `tegra_powergate_sequence_power_up` which uses a fake `struct tegra_powergate`. And of c

[2018-02-12 15:17] thierryreding commented on #1
Excellent! I was just looking at that as well and have a proper fix for the segfault that your seeing. I'll upload a new tree in a second.

[2018-02-12 15:28] thierryreding commented on #1
Alright, here's a tree which should include everything that @marcan used to fix this:

https://github.com/thierryreding/linux/commits/for-4.17/work

Nevermind the top patch in that tree, it's  not related to Tegra210.

@vartom, @delroth: can you confirm that the MBIST workaround + the PMC segfault make the green bars go away for you? Also, is this reliable in that the green bars don't come back on

[2018-02-12 15:34] marcan commented on #1
Works for me with thierryreding/linux@13eea63a70 on top of my existing tree which already had the MBIST workaround series merged in. (I hadn't realized pmc was a global available in that file, that's obviously the right solution, heh). Still works after repeated modesets.

[2018-02-12 15:46] thierryreding commented on #1
Yeah, it's not terribly pretty, but we need the global for the early code anyway, so might as well reuse it here. The tegra_powergate_sequence_power_up() is really a legacy API that we should remove eventually, but we haven't fixed up all the drivers yet. I'm sure we'll get there some day, but in the meantime I think this is a good workaround.

Now it's up to Peter for finalizing the MBIST series,

[2018-02-12 15:48] vartom commented on #1
@thierryreding Yes, and now it works for me (MBIST).

[2018-02-12 15:51] thierryreding commented on #1
@marcan, @vartom: would you mind providing an official Tested-by: on the mailing list for Peter's MBIST patch series?

[2018-02-12 15:57] vartom commented on #1
I do not mind. I'll try what I can.

[2018-02-12 16:02] thierryreding commented on #1
Just in case you don't know how, you'd just reply to either all of Peter's patches with a line saying:
[code]
Or reply to a single patch (usually patch 0/X if there is one, or patch 1/X otherwise) with something like:
[code]
That way I can easily pick that up when I apply to the Tegra tree and you get the credits that you deserve for testing this.

[2018-02-12 16:18] marcan commented on #1
@thierryreding Done (hope I got the In-Reply-To right, I wasn't previously subscribed so I had to snoop around archives).

[2018-02-12 16:30] thierryreding commented on #1
@marcan: Looks good. Thanks a lot!

[2018-02-13 21:04] Samt43 commented on #2
@denysvitali @Gnurou @vartom I could have successfull graphical acceleration on Pixel C using 4.8 @vartom kernel and this modification https://github.com/Samt43/mesa/commit/1790e46ae38cf9a0e812cfd04d25788c65c97d3f for mesa that uses gnurou renderonly mesa branch.
With this, weston is working with gallium 0.4 and nv12b chipset and it seems to run fast !

I couldn't run Xorg unfortunately, i stuck w

[2018-02-14 06:07] vartom commented on #2
Tried to turn on the drivers nouveau. Not yet figured out why, but they do not see a DSI connection:
[code]

Edit by @DenysVitali: Formatting

[2018-02-14 06:58] Samt43 commented on #2
It seems that you have issues with your libglx that is at the wrong format.
Another thing @gnurou can confirm, but I don't think we have to use Nouveau DDX driver but modesetting instead using glamor to accelerate X commands.

[2018-02-14 10:16] vartom commented on #8
Try to adapt this
https://github.com/vartom/android_kernel_smaug/commit/65ed23383137dfc9b191298a552aab787c57268a

[2018-02-14 10:40] denysvitali commented on #8
I'll look into it. Thank you 👍

[2018-02-14 14:32] vartom commented on #3
Enabled WiFi, In the kernel logs it now asks for firmware. I did not manage to find the working firmware yet. ps Firmware from rootfs, he does not see.
https://github.com/vartom/linux-smaug/commit/becac257eb89e443c5e9fa9a1eadf926987566cf

add firmware from linux firmware lib
[    0.945638] mmc1: new high speed SDIO card at address 0001
[    0.953578] brcmfmac: brcmf_fw_map_chip_to_name: using brcm

[2018-02-14 14:43] denysvitali commented on #3
Is the chip enabled? The problem w/ the Broadcom drivers for the Pixel C is that they manually enable some GPIOs in order to activate / reset the chip.
The mainline broadcom driver doesn't seem to work and porting Google's 3.18 brcmdhd driver to mainline seems an intensive task.
https://android.googlesource.com/kernel/tegra/+/android-8.1.0_r0.23/drivers/net/wireless/bcmdhd/
CC/ @samt43

[2018-02-14 14:50] vartom commented on #3
I do not think that adding a driver from 3.18 is a good idea. If the built-in driver does not work, it's best to try the driver from 4.4 from NVIDIA

[2018-02-14 15:16] denysvitali commented on #3
Indeed. We need to find a solution to integrate the chip power on feature in the broadcom mainline drivers.
By the way, you can download the needed firmware files by using my ./getvendor.sh script from the 4.15 branch

[2018-02-15 02:06] vartom commented on #2
@Samt43 For kernel tests, I use the assembly of the rootfs from denysvitali https://github.com/denysvitali/linux-on-pixel-c  direct link https://ded1.denv.it/pixel-c/arch-xfce-lightdm.tar.gz
it works quite smoothly.
Your earlier image of rootfs also works, but graphics drawing is much slower.
[code]

[2018-02-15 12:38] vartom commented on #3
WiFi works. In your Linux build through the interface is not defined. In the assembly @Samt43 WiFi connects and works.
Nothing new was added to the DT. Only added firmware.

[2018-02-15 16:00] denysvitali commented on #3
Can you provide some instructions / make a PR to the tegra-nouveau-rootfs repo to enable it?

[2018-02-15 19:38] Samt43 commented on #3
@Vartom I never tried to make it work until now... But you mean it's
working with my courrent rootfs on GitHub ? Did you use 4.8 kernel ?
That's great !

Le jeu. 15 févr. 2018 17:00, Denys Vitali <notifications@github.com> a
écrit :

[2018-02-16 02:09] vartom commented on #3
I mean the system from the first message of the[ topic](https://forum.xda-developers.com/pixel-c/orig-development/arch-running-natively-pixel-c-t3586368)
[Kernel 4.15.2](https://forum.xda-developers.com/showpost.php?p=75577446&postcount=41) from my repo.

[2018-02-16 06:58] Samt43 commented on #2
Great, can you run glxinfo ?
If that works, it would mean that with a 4.15 kernel, everything is there to enable graphical acceleration for tegra without any mesa patch ! :)

[2018-02-16 07:10] Samt43 commented on #3
That's great !
I suppose the only thing to do then is to fix the current built rootfs by installing networkmanager (if i remember that was the one i installed some time ago). When creating rootfs, please use my generaterootfs script to fix suid correctly.
On kernel side, everything this to be there too ! :)

[2018-02-16 12:35] denysvitali commented on #3
I'll take a look at this and fix the rootfs script accordingly :)
@vartom where are the firnware files for the BCM4354 module, and where did you placed them? Did you include them on the kernel or you've added them to the rootfs?

[2018-02-16 12:52] vartom commented on #3
Completed the necessary patches in the repo.

[2018-02-16 12:59] denysvitali commented on #3
Can you make a PR?

[2018-02-16 13:45] vartom commented on #3
I began to notice problems in Android. This began after the inclusion of the WiFI in the kernel and the entry into Arch Linux(Samt43). To fix the problem, I cleaned Dalvik Cash. Something bad is happening to the file system.

[2018-02-17 11:19] vartom commented on #4
There is no sound support for the 210 chip in the core at all. Too much patch.

[2018-02-18 05:44] vartom commented on #9
The system from 160218 does not load onto the desktop.
On the screen displays three rectangles with a command line.
[code]

[2018-02-18 10:39] denysvitali commented on #9
@vartom that rootfs is marked as a pre-release because it has some bad permissions. In the next build (2018-02-18) everything should work normally.

I'm building it right now w/ Travis CI: [you can check its status here](https://travis-ci.org/denysvitali/tegra-nouveau-rootfs/builds/342855027)

[2018-02-19 11:24] Samt43 commented on #3
Hi @vartom ,
I compiled your 4.15 kernel and run my pixel C on it, compilation with tegra210 config was fine.
I couldn't have wlan node created unfortunatly due to this :
[    1.194287] brcmfmac mmc1:0001:1: Direct firmware load for brcm/brcmfmac4354-sdio.clm_blob failed with error -2
It seems that firmware couldn't be loaded, so i checked CONFIG_FIRMWARE_IN_KERNEL=y and CONFIG_EXTRA_FIRMWARE and

[2018-02-19 11:35] Samt43 commented on #3
Sorry for this, it seems that brcmfmac4354-sdio.clm_blob is optional according to kernel code.
I will recheck tonight why i couldn't find any wlan reference in dmesg. Maybe everything was working !

[2018-02-19 11:38] Samt43 commented on #2
Hi @Vartom,
I compiled you kernel 4.15, and i could run X correctly. I used the lastest rootfs available by build system.
Unfortunatly, llvmpipe was used for 3d rendering and UI was a bit slow.
Could you run glxinfo to know if your config is using GPU correctly ? It seems according to the log that you were really using nouveau DRI driver :)

Thanks a lot in adavance,

Samt43

[2018-02-19 12:12] vartom commented on #3
All right brcmfmac4354-sdio.clm_blob is optional.

[2018-02-19 12:24] vartom commented on #2
In the system that I try there is no glxinfo.
In which particular version of the system do you have a problem with 3D?
I have now tried this https://github.com/denysvitali/tegra-nouveau-rootfs/releases/tag/untagged-439d9f4a817e73403582. It seems to be running asked for a password, but then does not boot.

[2018-02-19 13:04] denysvitali commented on #3
It works.
I'll fix my initramfs accordingly and the rootfs.

![photo_2018-02-19_13-56-27](https://user-images.githubusercontent.com/4939519/36379101-a3962fba-157d-11e8-8ae5-2435d8b2fbf1.jpg)

[2018-02-19 13:58] vartom commented on #3
@denysvitali  Which version of rootfs you use?

[2018-02-19 14:05] denysvitali commented on #3
I'm using a custom one I built - which is very similar to the latest build available, I'll push the changes in a few minutes

[2018-02-19 15:01] denysvitali commented on #3
Unfortunately Bluetooth doesn't work yet, even though it appears in the rfkill list and in `/sys/class/bluetooth/hci0`

[code]

[code]

[code]

[2018-02-19 15:36] vartom commented on #3
To work the bluetooth you need to connect the firmware( bcm4350c0.hcd) to it.
like that
sudo brcm_patchram_plus -d --patchram /system/etc/firmware/bcm4350с0.hcd --baudrate 3000000 --enable_lpm --enable_hci --use_baudrate_for_download --no2bytes --tosleep 1000 /dev/ttyTHS2

[2018-02-19 16:53] denysvitali commented on #3
Thanks. I'll try to implement it :+1:

[2018-02-19 19:40] Samt43 commented on #2
Seems like you have to install gnome-shell or xfce4 in order to have something after boot. (i had the same issue)
I could do some test and i have the same logs as yours. We only have software rendering for now, it seems that it's due to this :
AIGLX: Screen 0 is not DRI2 capable

I could have acceleration working with a mesa patched some days ago but only for wayland,
I continue to look on this,

[2018-02-20 09:01] denysvitali commented on #9
@vartom About the `CONFIG_QFMT_V2` and `CONFIG_QUOTA` part:
what version of Android were you running? I'm still having problems w/ Android 8.1 because of sdcardfs. I can't mount the `/dev/mmcblk0p7` partition.
I'm trying to port sdcardfs to linux right now, but Android's kernel it's a complete mess

[2018-02-20 09:36] vartom commented on #9
@denysvitali Android 8.1. sdcardfs not necessary. Most likely you have data partition encryption.

[2018-02-20 09:59] denysvitali commented on #9
Probably. Even though I can mount the `/data` partition in TWRP without entering any password

[2018-02-20 10:15] vartom commented on #9
@denysvitali This is not an indicator. check the section is not dm-0?

[2018-02-20 10:27] denysvitali commented on #9
When Android is booted, `/data` appears as `/dev/block/dm-2`
[code]

I can't access the `/data` partition when the system is booted via `fastboot boot boot.img`, therefore it may be a bootloader "security feature"

[2018-02-20 11:44] vartom commented on #9
block/dm-2 this is encryption.

[2018-02-20 12:55] vartom commented on #9
untagged-828d52 booted to the desktop, no DRI2 capable, softwares rendering (((

[2018-02-20 14:03] denysvitali commented on #9
I'll provide a (signed) boot image in a few minutes

[2018-02-20 14:42] denysvitali commented on #9
You can try [this image](https://github.com/denysvitali/linux-smaug/releases/tag/bfc7ad6f09).
Please note that the image was built w/ my initramfs which needs the system files in `/system`.

[2018-02-20 15:03] vartom commented on #9
Swears at the Quota. I started the kernel with my ramdisk. I do not want to delete and reflash the system.

[2018-02-20 15:32] denysvitali commented on #9
You can build my initramfs and set the "in_data" value to true

[2018-02-20 16:37] denysvitali commented on #3
The Wi-Fi chip does work. The patches were upstreamed and are now available in the latest kernel release images (linux-smaug).
![img_20180220_154307](https://user-images.githubusercontent.com/4939519/36436469-9b772acc-1664-11e8-8b7c-1aaaf342a3a0.jpg)

I'll open another issue for the Bluetooth problem

[2018-02-20 16:37] #3 closed

[2018-02-20 17:07] vartom commented on #9
@denysvitali   Your screen photos look different than the ones I run from your image(untagged-828d52). I do not have the WiFi settings. What's the Difference? Do you start the system with a usb flash drive?
I tried your ramdisk, but the kernel used its own. Later I'll try starting with a flash drive.

[2018-02-20 17:13] denysvitali commented on #9
@vartom I manually installed `gdm`, `gnome-session` and `gnome-control-center`on my system today. I haven't switched the tegra-nouveau-rootfs to GNOME yet because its weight is over 2GB, and it may cause some trouble to people like me who like to put the rootfs into the /system partition

[2018-02-20 17:14] denysvitali opened #10 "Bluetooth doesn't work"
Using the latest rootfs and the latest kernel ([system-4.15-wifi](https://github.com/denysvitali/linux-smaug/releases/tag/bfc7ad6f09))
[code]

[code]

Bluetoothctl:
[code]

[code]

[code]

Ramdisk edits:
https://github.com/denysvitali/smaug-custom-initram/commit/a7abf06e9e1fe884bcaee4d58e9b549442df1e52

[2018-02-20 17:16] denysvitali commented on #1
I'm closing the issue since apparently you guys fixed it :rocket: !
Thanks for the help!

If someone else is experiencing the same problem, just leave a comment and I'll reopen the issue

[2018-02-20 17:16] #1 closed

[2018-02-20 17:55] denysvitali commented on #3
The bluetooth issue is now open at #10

[2018-02-20 17:55] vartom commented on #9
Since I do not know Archlinux, it will be a problem manually installed .

[2018-02-20 17:56] denysvitali commented on #9
[code]

I'll provide a GNOME rootfs if you want :)

[2018-02-20 18:03] vartom commented on #9
I'll try it tomorrow. this is slightly different from Ubuntu to which I am still getting used to.

[2018-02-20 18:06] denysvitali commented on #9
Don't worry. As long as you have a shell (SSH) you can easily switch the session an / or the Display Manager with the commands provided above. Check out the [GDM](https://wiki.archlinux.org/index.php/GDM) page on Arch Linux Wiki for more info

[2018-02-21 10:39] denysvitali commented on #9
@vartom Here is a freshly created rootfs that boots into GNOME and enables the NetworkManager and bluetooth daemon on boot:
https://mega.nz/#!PURlQZKS!w_rRxG6LCCOGB0YfMWq32CbyrotQwAtTN0S2E9cQ8hM

[2018-02-21 12:19] vartom commented on #9
@denysvitali Thank you

[2018-02-21 15:43] vartom commented on #10
brcm_patchram_plus -d --patchram /lib/firmware/bcm4350c0.hcd --enable_lpm --enable_hci --use_baudrate_for_download --bd_addr 11:22:33:44:55:66 --no2bytes --tosleep 1000 /dev/ttyTHS2
The log shows that this command does not work. Most likely it works in the system and not before it starts.

[2018-02-21 17:33] denysvitali commented on #10
@vartom I have already tried that command after the system is booted. Unfortunately it doesn't work. Do you have any idea?

[2018-02-22 03:14] vartom commented on #9
@denysvitali Could you give instructions on how to correctly write rootfs on a flash drive? I tried to unzip the archive from rootfs via tar. Unzipped just to the root, not to the folder. As a result, the system starts to boot and hangs. Later I'll try another flash drive, but I do not think this is a problem.

[2018-02-22 07:26] Samt43 commented on #9
You can install a system on flash drive with this :
Modified initramfs that boot on usb in system folder : https://drive.google.com/file/d/1T1bXvTBbd1kCdvxm8ZVVQU81OV3uo9Ac/view?usp=sharing
Standart .fit image (your freshly compiled 4.15 kernel): https://drive.google.com/file/d/1S5TZLhbcLRfEwzDEeybV6-82RctGLCsF/view?usp=sharing
Use my script https://github.com/Samt43/tegra-rootfs-scripts/blob/mast

[2018-02-22 07:50] Samt43 commented on #9
@denysvitali @vartom I like this way of booting because you don't need to modify your Pixel C at ALL to work on the project.
The only problem is USB not very stable for my case

[2018-02-22 09:45] denysvitali commented on #9
I wouldn't recommend running the system from USB. Whilst it is the most convenient solution (there is no need to touch any of the Pixel C partitions) it seems to be pretty unstable.
I personally had many troubles with my USB Hub when the Pixel C battery level is lower than 20% (I think that my hub drains too much current during the boot process, therefore the device turns itself off).

[2018-02-22 22:26] friesoft commented on #2
@Samt43 are you talking about those mesa patches? https://lists.freedesktop.org/archives/mesa-dev/2018-February/186241.html

[2018-02-23 13:46] vartom commented on #9
For system tests, starting with USB is fine. I use a little modified initrams from denysvitali.
The previous problem with the launch was just because of the low battery charge.

[2018-02-24 14:11] vartom commented on #2
It might look like this,
[code]

But this is not stable (. kmscube works through time and sometimes takes off with errors. weston-launch does not start. startx giving out 3 rectangles
All this was received on the assembled rootfs with the settings approximated to the original ones. Using the drivers drm and mesa from cgit.freedesktop.org/~tagr

[2018-02-25 09:58] Samt43 commented on #2
@friesoft No I was talking about this patch https://github.com/Samt43/mesa/commit/d64c261dc62c2b5a78163579ddcf349f7ddc2ed3
From the renderonly branch of @Gnurou plus the patch I made to Port it on Pixel c : https://github.com/Samt43/mesa/commits/renderonly
With this compiled and installed using the rootfs scripts, I could run Weston correctly with acceleration.
The patches that you are talking abo

[2018-02-25 10:42] denysvitali commented on #2
@Samt43 The 4.16 kernel doesn't seem to work. Apparently they've messed up with some arm instructions. We'll have to wait for a new tagged release (that will be released today)

[2018-02-25 15:36] vartom commented on #2
@Samt43 @denysvitali  It is possible that for this (mesa) you need the kernel 4.17 https://github.com/thierryreding/linux/tree/for-4.17/work
In patches, the general line of updates is viewed "Support sync FDs ..."

[2018-02-26 11:31] denysvitali commented on #4
Maybe related: https://github.com/raphael/linux-samus/issues/145

[2018-02-26 15:02] denysvitali commented on #10
I still can't figure out why it doesn't work...

[code]

[code]

[code]

[code]

[code]

[2018-02-26 15:49] vartom commented on #4
No, it all looks like that you need to port [this piece](https://github.com/followmsi/android_kernel_tegra/commits/followmsi-kernel/sound/soc/tegra-alt) of code to support the sound and add [more](https://github.com/InES-HPMM/linux-l4t-4.4-kernel/tree/hdmi2csi/l4t-r28.1/sound/soc/tegra-alt)

[2018-02-26 16:18] denysvitali commented on #2
I've tried the for-4.17/work kernel, unfortunately it doesn't work. The display stays black. I'll push the kernel source (and a prebuilt image) as soon as possible.

[2018-02-26 17:02] denysvitali commented on #2
@thierryreding `for-4.17/work` boot image is available [here](https://ded1.denv.it/pixel-c/boot-images/boot-linux-4.17-thierry-93ce7c9cad58_20180226_101633.img) ([source on my repo](https://github.com/denysvitali/linux-smaug/tree/linux-4.17-thierry)) whilst the latest 4.16-rc3 kernel boot image is available [here](https://ded1.denv.it/pixel-c/boot-images/boot-linux-4.16-rc3-60926826932d_20180226_1

[2018-02-26 17:15] vartom commented on #2
@denysvitali I started the kernel (4.17/work) now without any problems. I added all my patches and got the system start logs and the terminal command line. For further tests, i need to rebuild the rootfs.

Ps. You did not add all my patches to the kernel.

[2018-02-26 17:35] denysvitali commented on #2
Can you push your version of the kernel?

[2018-02-26 17:45] vartom commented on #2
https://github.com/vartom/linux/commits/for-4.17/work

[2018-02-26 19:26] denysvitali commented on #2
Oh I guess I missed your linux fork, I was looking at your linux-smaug repo.
Btw, I've tried the branch w/ your patches and added [some of mines](https://github.com/denysvitali/linux-smaug/tree/for-4.17/work), it boots but unfortunately it is still not accelerated, even with drm, mesa and wayland compiled from thierryreding's repo

[2018-02-28 14:09] vartom commented on #2
@denysvitali @Samt43
Can you correct the kernel compilation script (build-linux) so that it can work in the travis-ci?
This is necessary for the modules to be loaded at the time the system is started.
It is necessary to include in the system the same version of the kernel that is used as a boot

[2018-03-04 11:35] vartom commented on #2
Faced the problem of lack of time to build through Travis. A limit of 50 minutes is not enough for building with the kernel. But the most not logical, is that the assembled assemblies of the rootfs on the home PC do not enter the graphical shell. The same is collected on Travis, it starts normally.

[2018-03-04 11:46] denysvitali commented on #2
You're probably missing the `./scripts/generate-rootfs` call. This scripts fixes all the permissions on the rootfs.

About the build time of Travis: I'll set up a Jenkins job on one of my own servers (probably jenkins.mastodonti.co) and give us access through the @pixelc-linux organization.

[2018-03-04 12:08] vartom commented on #2
I used it(`./scripts/generate-rootfs`), but instead of `sudo tar -cvpzf $TOP/out/rootfs.tar.gz` ,
i used `sudo rsync -aAXv $TOP/out/target/$ARCH/ArchLinuxArm/* $USB_MOUNT/
` maybe this is the problem. Now I'll check.
Checked. This is the problem.

[2018-03-05 14:05] denysvitali commented on #2
@vartom
Did you solve the problem you were having?

[2018-03-06 01:55] vartom commented on #2
@denysvitali I do not have so much time now to check everything that I wanted.
I wanted to check again the next set, mesa and drm from @thierryreding, with the 4.15 kernel.
I can not configure the 4.17 kernel to run the nouveau driver as a module. And there are such mistakes `Failed to set up IOMMU for device 57000000.gpu; retaining platform DMA ops`

[2018-03-08 04:48] aunali1 commented on #10
According to the brcmfmac wiki BCM4354 support was dropped in Linux 4.1.

EDIT: Nvm, thats the unreleased PCIe variant.

[2018-03-08 06:15] denysvitali commented on #10
@aunali1 Thanks for your comment
If that was the case, Wi-Fi shouldn't work either, but it does: #3

[2018-03-09 13:38] denysvitali commented on #2
Related: https://www.phoronix.com/scan.php?page=news_item&px=Open-Source-Tegra-In-Mesa

[2018-03-09 14:09] vartom commented on #2
In the last test, I checked it. Does not load into the GUI. This makes one think of something else that the kernel or DTs are not all included for the stable operation of the GPU.

[2018-03-09 14:15] thierryreding commented on #2
What I merged into Mesa should run fine on top of any recent release or linux-next. My for-4.17/work branch contains a bunch of patches that may be unstable.

Today's linux-next (next-20180309) should also have fixes for the green bars and things like that. I _think_ I don't have anything else in my for-4.17/work branch that would be immediately relevant to you.

[2018-03-09 15:46] vartom commented on #2
[code]
Today's assembly with a fresh mesa. the login greeted. Graphics buggy. X did not start.
https://travis-ci.org/vartom/tegra-nouveau-rootfs/builds/351320319
https://github.com/vartom/tegra-nouveau-rootfs/releases/tag/untagged-06c3cfac81bb8c29d3c0

[2018-03-10 14:34] vartom commented on #2
Graphics buggy in the Gnome. the mouse pointer is lost. Tried it with kernels 4.15 and 4.16 (next). X did not start. Where there are these glitches I do not know.

[2018-03-10 14:38] denysvitali commented on #2
What about xfce4? GNOME defaults to Wayland, have you tried with GNOME on Xorg?

[2018-03-10 14:42] vartom commented on #2
xfce4 I did not try, previously it worked well. GNOME on Xorg tried - does not start, I write about it.

[2018-03-10 17:37] vartom commented on #2
@denysvitali try it
https://github.com/vartom/tegra-nouveau-rootfs/releases/tag/untagged-5f083c056d22f9c2d074

[2018-03-10 17:57] denysvitali commented on #2
@vartom Kernel image? Should I rebuild it from `next-20180309`?

[2018-03-10 18:18] vartom commented on #2
Kernel 4.15.y, nouveau driver in kernel, not modul. I think the drivers for GPU do not work. I do not see anything new from the new version of Mesa.

[2018-03-10 18:28] denysvitali commented on #2
Can you please try to build the linux-next-20180309 and the newest version of mesa?
As Thierry said, it should work. Probably what you're doing wrong now is that you're using linux-4.15.y which doesn't include Thierry's patches.

I can't test it right now, I'll look into it ASAP, but if you have some spare time you can try as I instructed

[2018-03-11 06:08] vartom commented on #2
It does not matter, I try [linux-next-20180309](https://github.com/vartom/linux-smaug/tree/test)
If the return to the modular nouveau driver load does not help, it can be said that their patches do not work with the built-in dsi panel.

[2018-03-11 14:53] vartom commented on #2
@denysvitali @thierryreding  i try modular nouveau driver, linux-next-20180309 and the newest version of mesa. It does not matter. X did not start.
The only difference is when you start kmscube not have to write the key --device=/dev/dri/card1
Maybe this is some sort of problem when assembling Xorg?

[Xorg.0.log](https://github.com/denysvitali/linux-on-pixel-c/files/1800471/Xorg.0.log)

[2018-03-12 07:19] thierryreding commented on #2
@vartom can you provide the output of dmesg and the exact kernel configuration that you're using? According to Xorg.0.log there seem to be changes on top of next-20180309, perhaps post those as well, just to make sure they aren't potentially breaking anything.

[2018-03-12 07:37] vartom commented on #2
@thierryreding kernel configuration https://github.com/vartom/linux-smaug/blob/test/arch/arm64/configs/tegra21_defconfig
I also tried with this configuration
https://github.com/vartom/linux-smaug/blob/test/arch/arm64/configs/defconfig
I can not drop the kernel log now, not at home.

[2018-03-12 08:44] thierryreding commented on #2
@vartom your configuration looks okay. dmesg should provide some more clues.

[2018-03-12 12:49] vartom commented on #2
@thierryreding [dmesg-1520793876.txt](https://github.com/denysvitali/linux-on-pixel-c/files/1802764/dmesg-1520793876.txt)

[2018-03-12 12:56] thierryreding commented on #2
This doesn't show anything related to nouveau. Are you sure the device is enabled in device tree and the driver is built-in or loaded?

[2018-03-12 13:30] denysvitali commented on #2
@vartom Can you include the nouveau module in the kernel?
Set [this](https://github.com/vartom/linux-smaug/blob/test/arch/arm64/configs/tegra21_defconfig#L365) to `y`

[2018-03-12 13:51] vartom commented on #2
@thierryreding [dmesg-1520862223.txt](https://github.com/denysvitali/linux-on-pixel-c/files/1802985/dmesg-1520862223.txt)
nouveau in the kernel

[2018-03-12 14:14] thierryreding commented on #2
This looks all very normal, no indication that anything went wrong.

Can you list the exact versions of kernel, libdrm, mesa and X that you're using, perhaps I can reproduce somehow. Also, how do you run X, what window manager/desktop environment do you use?

[2018-03-12 14:17] denysvitali commented on #2
@thierryreding I'm pretty sure he is using [this rootfs](https://github.com/denysvitali/tegra-nouveau-rootfs) which is our custom fork of @Gnurou work.

Vartom's rootfs is available [here](https://github.com/vartom/tegra-nouveau-rootfs)

[2018-03-12 14:43] vartom commented on #2
When the lightdm does not load, that is, I continue to see the log instead of the desktop. I go to VT through Ctrl + alt + f4. I enter as a root. I can run a kmscube but after exiting on Ctrl + c, I do not see the text VT. I make run a startx, it gives an error `Fatal server error:
[   119.109] (EE) AddScreen/ScreenInit failed for gpu driver 0 -1` and then the text VT is returned. I can again star

[2018-03-12 16:35] thierryreding commented on #2
@vartom can you set the following in your defconfig:

CONFIG_TEGRA_MC=y

Without that, CONFIG_TEGRA_IOMMU_SMMU will not be enabled and that in turn will prevent the file descriptor exported from Nouveau to be imported into Tegra DRM for display. This is because Tegra DRM needs the SMMU to map non-contiguous buffers.

The Tegra Gallium driver does a bad job of reporting failure to import a file des

[2018-03-12 16:46] vartom commented on #2
I checked CONFIG_TEGRA_MC=y and TEGRA_IOMMU_SMMU=y in .config.
as I wrote earlier on kernels 4.17 and next-20180309 I see such an error

[2018-03-12 21:20] denysvitali commented on #2
I tried to merge the next-20180309 into my 4.15.y kernel, and [this is the result](https://github.com/denysvitali/linux-smaug/tree/linux-4.17-next). Unfortunately the next-20180309 had some troubles with our patches - therefore the panel didn't show any image.

I hope I didn't messed up anything in the merge.

Here is the Xorg.log after the nouveau module was dynamically loaded:

[code]

[glxinfo-

[2018-03-13 01:45] vartom commented on #2
@denysvitali You have the old version of Mesa library in the system!
I made a [patch ](https://github.com/denysvitali/tegra-rootfs-scripts/pull/3/commits/b71bdd9a3aa17482a4832f881b5b183140aa8394)for you to fix this situation.

xorg-server 1.19.6+13+gd0d1a694f-1
mesa 17.3.6-1

[2018-03-13 03:16] vartom commented on #2
@thierryreding I think the problem can be in this patch
https://github.com/vartom/linux-smaug/commit/2a8102dfe0da7dbb61794e6b85dc7ac9271e5fc8
in 4.15 it is not present and I see it in the kernel log
[code]
in 4.16 / 4.17 it is, and I see it in the kernel log
[code]

[2018-03-13 06:19] denysvitali commented on #2
@vartom Thanks, I've merged the PR and I'm now rebuilding the rootfs. I'll try again once it's ready 🚀

[2018-03-13 10:46] thierryreding commented on #2
@vartom That _should_ be unrelated. There are corresponding patches in Tegra DRM to make use of the IOMMU groups, but 4.15 should work identically. Effectively the result in programming of the SMMU and behaviour in Tegra DRM and Nouveau should be unchanged.

[2018-03-13 11:44] denysvitali commented on #2
Meh. I'm having some troubles compiling mesa (from git) for `arm64`. It fails at:
[code]

This seems to be related to [this](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=878954)

@vartom how did you build mesa for arm64? I'm using [tegra-nouveau-rootfs](https://github.com/denysvitali/tegra-nouveau-rootfs) with the following:
[code]

and it's failing at `./scripts/build-mesa`

[2018-03-13 12:30] vartom commented on #2
@denysvitali --disable-libunwind in build-mesa.

[2018-03-13 12:31] denysvitali commented on #2
@vartom I figured it out after a couple tries https://github.com/denysvitali/tegra-rootfs-scripts/commit/0b4c661fd6661700e082ff1ffada2fc152346090 :+1:
Thank you!

[2018-03-13 13:50] vartom commented on #2
@denysvitali
I'm not sure that the installation of a new version of the Mesa libraries is successful. I still see(pacman -Q  mesa) the old version of the Mesa libraries.

[2018-03-13 14:15] denysvitali commented on #2
@vartom That's because the mesa package gets installed in the [`prepare-ArchLinuxArm`](https://github.com/denysvitali/tegra-rootfs-scripts/blob/master/distro/prepare-ArchLinuxArm#L27) via the `mesa-demos` package.

But if you run the prepare-rootfs first, and then build the mesa package, you'll end up having the compiled mesa installed, but still have the package in `pacman -Q mesa` with the old v

[2018-03-13 14:39] vartom commented on #2
@denysvitali The installation of a new version of the mez libraries goes to the opt / nouveau directory.
Further with [this](https://github.com/vartom/tegra-rootfs-scripts/blob/vartom-patch-1/prepare-rootfs#L30), it will be prescribed that this should be used. Now it seems to me that this does not work or does not work correctly.
for example, a kmcube can call a new version and the graphical deskt

[2018-03-13 14:44] denysvitali commented on #2
@vartom Are you sure about that?
Check [this line](https://github.com/denysvitali/tegra-rootfs-scripts/blob/master/build-mesa#L29) and [this part](https://github.com/denysvitali/tegra-rootfs-scripts/blob/master/env.sh#L74)...
Mesa will be installed in the rootfs

[2018-03-13 15:06] vartom commented on #2
@denysvitali
Yes, I am sure. https://github.com/vartom/tegra-nouveau-rootfs#compiling-mesa

[2018-03-13 17:14] denysvitali commented on #2
@vartom
That's just the README. The scripts aren't building mesa in /opt/nouveau...

Try adding:
[code]
on `run_make()` in `env.sh`. Then build mesa.

[code]

[2018-03-14 02:23] vartom commented on #2
@denysvitali
Pay attention to this
[NV_PREFIX](https://github.com/denysvitali/tegra-rootfs-scripts/blob/fix-1/env.sh#L38
)  in env.sh
[run_autogen ](https://github.com/denysvitali/tegra-rootfs-scripts/blob/fix-1/env.sh#L60) in env.sh
[run_autogen  ](https://github.com/denysvitali/tegra-rootfs-scripts/blob/fix-1/build-mesa#L11) in build-mesa, build-drm, build-kmscube, ..
And look at the presence of

[2018-03-14 08:22] denysvitali commented on #2
@vartom
Oh, I see!
I missed the `run_autogen` part. Thank you!

Unfortunately when I build the rootfs w/ the `ld.so.conf.d` entry I'm not able to run gdm / lightdm anymore. Therefore we can't use the latest mesa for whatever reason.

[2018-03-14 08:42] vartom commented on #2
@denysvitali This is because the mesa /Xorg is falling. And without software rendering.

[2018-03-14 11:04] denysvitali commented on #2
@vartom I know, but I still haven't figured out why it does fail. I'm also having troubles while building mesa on Travis CI. Once that's fixed I'll be able to release reproduceable rootfs.

[2018-03-14 13:05] denysvitali commented on #5
Closing as this issue cannot be reproduced anymore.

[2018-03-14 13:05] #5 closed

[2018-03-17 09:14] vartom commented on #2
@thierryreding
Build the kernel from next-20180316, with it it got even worse. now even the kmscube broke down.
![img_20180317_160509](https://user-images.githubusercontent.com/12290575/37553627-885f4a3e-29fe-11e8-93d8-11e778bd33cf.jpg)
![img_20180317_160535](https://user-images.githubusercontent.com/12290575/37553634-93c53046-29fe-11e8-87e5-169c7002c3f6.jpg)

[2018-03-17 11:59] denysvitali commented on #2
@vartom Have you tried [this kernel image](https://github.com/denysvitali/linux-smaug/releases/tag/untagged-ce4ac25ba8c9f0593b22)?

[2018-03-17 12:04] vartom commented on #2
@denysvitali No. I did not begin to merge. It was easier to add patches for smaug.

Ps
How can you explain the need to [get native vendor files](https://github.com/denysvitali/linux-smaug/blob/linux-4.15.y/getvendor.sh) that are not compatible and are not requested by the mainline kernel?

[2018-03-18 06:13] vartom commented on #2
I want to reproduce the same result as in this [message](https://github.com/denysvitali/linux-on-pixel-c/issues/2#issuecomment-368230929
).
I can not find what went wrong.

[2018-03-19 12:53] denysvitali commented on #2
@vartom I use them here: https://github.com/denysvitali/linux-smaug/blob/linux-4.17-next/arch/arm64/configs/dragon_denvit_defconfig#L1131
The most important ones are `nvidia/tegra210/xusb.bin` and `nvidia/tegra210/vic04_ucode.bin` binaries. Without them I cannot get the device to boot

[2018-03-19 12:59] vartom commented on #2
@denysvitali It's easier to add them once in the form of a patch.

In addition, most of these files are searched for under other names in other directories, for example
https://github.com/denysvitali/linux-smaug/blob/bfc7ad6f09eba9fb1f06ea2da8803affd447bf12/drivers/gpu/drm/nouveau/nvkm/subdev/secboot/gm20b.c#L132

[2018-03-19 14:09] denysvitali commented on #2
@vartom Sure thing, but they still are proprietary files which we don't have any license for. Therefore I'm pretty sure they cannot be legally added to the project (there is a TOS that needs to be accepted)

[2018-03-19 14:22] vartom commented on #2
@denysvitali https://kernel.googlesource.com/pub/scm/linux/kernel/git/firmware/linux-firmware/+/master/nvidia/

[2018-03-19 17:42] mirh commented on #2
You technically cannot intertwine them very much with the kernel, but that's why you have the apposite linux-firmware package for all the blobs.
https://git.kernel.org/pub/scm/linux/kernel/git/firmware/linux-firmware.git/tree/LICENCE.nvidia

[2018-03-22 05:01] vartom commented on #2
I really should try to build an arсhlinux with this package Package Details: mesa-git 18.1.0_devel
https://aur.archlinux.org/packages/mesa-git/

A little information
https://archlinuxarm.org/forum/viewtopic.php?f=49&t=12185&start=10#p57929

[2018-03-22 07:53] denysvitali commented on #2
@vartom Good! We can try to `makepkg` during the rootfs build, and install it afterwards

[2018-03-23 03:30] vartom commented on #2
Yesterday I did not manage to make the package.
Perhaps we will wait for the release, if it includes support for tegra
https://www.phoronix.com/forums/forum/linux-graphics-x-org-drivers/opengl-vulkan-mesa-gallium3d/1014386-mesa-18-0-rc5-released-mesa-18-0-should-finally-be-out-on-friday

[2018-03-24 13:12] denysvitali commented on #2
Unfortunately mesa-18 hasn't been tagged... yet. Let's wait [for a release](https://cgit.freedesktop.org/mesa/mesa/) and see if it works.

[2018-03-24 16:05] vartom commented on #2
@denysvitali  this is not so important, in 18.0 there is still no support for tegra.
I still can not assemble the installation package. All the time that something goes wrong.
@denysvitali  @Samt43 Can you try?

[2018-03-25 14:03] vartom commented on #2
I can not find a solution to several errors.
/usr/share/makepkg/util/pkgbuild.sh: line 69: /dev/fd/62: No such file or directory
Another such error
chmod: cannot access '/mnt/data/home/dima/Pc/rootfs/tegra-nouveau/out/target/aarch64/ArchLinuxArm/home/alarm/abs/mesa-full-tegra/pkg': No such file or directory
==> ERROR: A failure occurred in ().
I create a pkg directory, during the execution of make

[2018-04-09 17:13] rakhenmanoa commented on #2
Hi guys, i just wanted to know if one can use the tegra X1 linux driver https://developer.nvidia.com/embedded/dlc/l4t-jetson-tx1-driver-package-28-2-ga on pixel C. Thank you.

[2018-04-10 01:40] vartom commented on #2
@rakhenmanoa As far as I know this driver can be used only with the appropriate kernel 28.2 (the driver in the kernel) for L4T from nvidia.

[2018-04-23 06:13] sharukins commented on #2
Does the recently tagged mesa 18.1 RC support tegra?

[2018-04-23 22:57] q66 commented on #2
yes, it appears to: https://cgit.freedesktop.org/mesa/mesa/tree/src/gallium/drivers/tegra?h=mesa-18.1.0-rc1

as opposed to 18.0.1, which doesn't have the driver: https://cgit.freedesktop.org/mesa/mesa/tree/src/gallium/drivers?h=mesa-18.0.1

[2018-04-23 23:05] denysvitali commented on #2
I'll try a new build tomorrow and report back the results 👍

[2018-04-25 07:52] rakhenmanoa commented on #2
Hi guys, the group fail0verflow posted a Linux system for the Nintendo switch with accelerated graphics, there https://fail0verflow.com/blog/2018/shofel2/     Do you think it will work on Pixel C ?

[2018-04-25 07:55] denysvitali commented on #2
Hey @rakhenmanoa! I [noticed it too](https://twitter.com/fail0verflow/status/988663367320592384) and I'm currently setting up the CI to generate a rootfs w/ the latest mesa, as suggested by @q66.

I'll report back soon: meanwhile you can check the build status [here](https://jenkins.ded1.denv.it/blue/organizations/jenkins/denvit-pixelc-rootfs/branches/)

[2018-04-25 15:41] q66 commented on #2
@denysvitali btw, once the GPU stuff is confirmed working and Mesa 18.1 makes it into its package repository, I'll probably look into porting Void Linux arm64 onto my Pixel C (it frequently lies unused unless I'm traveling, I'd like to change that) - what's the current status of Bluetooth support? Still the same with latest 4.17-rc2 kernel as previously, i.e. not working? Additionally, is there an

[2018-04-25 15:56] denysvitali commented on #2
@q66
Wonderful! I look forward to your contribution!
I created the [Linux On Pixel C](https://github.com/pixelc-linux) Organization on GitHub and I plan to switch to it in the newr future, because this project isn't only mine.
If you want to be part of the organization I can add you as a member.

The current bluetooth support is being tracked in #10. At the moment the brcm4354 works just for the W

[2018-04-25 16:09] q66 commented on #2
Alright. I created a `#linux-on-pixel-c` channel on freenode; if you want to get a relay bot in there or something, go ahead. I'll register the channel with chanserv in the meantime. And I guess it's a good idea to start looking into TWRP'ing my Pixel C and setting up Android tools (adb/fastboot) on my FreeBSD workstation and perhaps a Linux VM for building.

[2018-04-25 20:18] thierryreding commented on #2
Everyone is welcome to join the #tegra channel on Freenode. Its focus is on upstream Linux development and most people involved with upstream Linux development on Tegra hang out there, so I it should be a good fit for what you're trying to achieve.

[2018-04-25 20:40] denysvitali commented on #2
Btw, we now have a [Telegram group](https://t.me/joinchat/AMCvfg2mCMNEQHJxvFzf2Q) which is linked to the `#linux-on-pixel-c` channel on Freenode. We'll discuss there about the project. Every progress we make will be published / described in the respective issue (on this project).

We'll eventually migrate to @pixelc-linux in the near future, in the meantime we'll keep the discussions here, on Tele

[2018-04-29 17:03] vartom commented on #2
The kernel 4.17-rc2 does not correctly display the image on the screen.
Just like the kernel of Next-20180316, which I mentioned [earlier](https://github.com/denysvitali/linux-on-pixel-c/issues/2#issuecomment-373906076).

[2018-04-29 21:50] denysvitali commented on #2
@vartom What do you mean by "does not correctly display the image on the screen"? Are there glitches?
I personally tried w/ one of the recently tagged builds (for example [this one](https://github.com/denysvitali/linux-smaug/releases/tag/untagged-fce7a893b125f4ed521a)) which use the Google provided tegra blobs, and it seems to work fine. Acceleration is still missing though because I wasn't able t

[2018-04-30 02:32] vartom commented on #2
the logs are displayed correctly. The problem manifests itself when the image forms a GPU. turn on the utility kmscube or take my rootfs with working acceleration.

[2018-04-30 03:23] vartom commented on #2
@denysvitali I do not understand your persistence in using Google blobs. They will not work with the mainline kernel. Using them you will not get hardware video acceleration!

ps Conducted an elementary comparison of files by content. In the directory nvidia / tegra210 all files that are used by the mainline kernel (from Linux-firmware) are the same as those from Google.
The files in the firmware

[2018-04-30 05:29] denysvitali commented on #10
From L4T:
[code]

[2018-04-30 05:31] denysvitali commented on #10
nvwifint.sh
[code]

[2018-04-30 21:23] denysvitali commented on #10
## Status update

Partially fixed in https://github.com/denysvitali/linux-smaug/commit/883f87c7e7fc3492c87426b20f616e2cf8daf539, https://github.com/denysvitali/linux-smaug/commit/35173d08735b0c430e0bdb15928a58513936a620, https://github.com/denysvitali/linux-smaug/commit/731a2ab2046929846557edee6ececbcd4a705747.

## Instructions
BCM4354.hcd (attached) must be placed in `/lib/firmware/brcm/BCM4354.h

[2018-05-03 15:37] denysvitali commented on #2
@thierryreding

This is the email that @vartom has wrote you today. I pasted it here with his permission in order to keep the discussion public, so that everyone can help / be helped.

 I have already noted in the subject Graphics Acceleration Is Missing #2  that since the kernel is next from 03/16/18 the image has become spoiled on the screen. So I dropped some videos with a problem in the telegr

[2018-05-04 10:41] denysvitali commented on #2
This is what happens:
![img_20180504_123827](https://user-images.githubusercontent.com/4939519/39624145-7cd64784-4f98-11e8-9f18-70c8b12bace7.jpg)

[2018-05-04 16:57] denysvitali commented on #10
Probably related:
https://github.com/Dunedan/mbp-2016-linux/issues/29

[2018-05-04 19:43] denysvitali commented on #10
Related indeed. Fixed in https://github.com/denysvitali/linux-smaug/commit/0040834756a96462f8187a2cb3ded37137ea3170
Credits to @lategoodbye (original commit: https://github.com/lategoodbye/rpi-zero/commit/ed5900296dfb)

[Video proof](https://www.youtube.com/watch?v=9Z1XMOD5APc)

`bluez-utils-compat-5.49-1-aarch64.pkg.tar.xz` isn't needed anymore.

## Connect to the Pixel C keyboard
[code]

Enjoy!

[2018-05-04 19:46] #10 closed

[2018-05-07 21:14] PixelCUser commented on #2
Hello denysvitli,
Can you please put a package together for me that allows me to flash linux with gpu acceleration to my pixel c, in this forum post ive seen you get gpu acceleration to work so congrats on that,
i would like to test your linux build for the pixel c, im not a linux developer or someone who can port linux to android like you 😄 but i just want to try linux on my tablet<
Thanks :P

[2018-05-07 22:30] q66 commented on #2
You will have to wait until our infra is properly up, I guess. Which hopefully shouldn't take long at this point...

[2018-05-07 22:47] PixelCUser commented on #2
Ok cool, im currently actually installing the available build of linux for the pixel c but i ran in to a problem, the cache partition isn't big enough to store the latest rootfs tar

[2018-05-07 22:55] denysvitali commented on #2
@PixelCUser Just copy the rootfs over `/sdcard `

Btw, please, let's not go off topic here. If you're having some troubles installing a Linux Distro on your Pixel C, feel free to open a new issue. This is specifically related to the graphic acceleration issues we're facing.

In a couple of days we'll probably have a better way to deliver updated versions of our rootfs and kernel images, so that it

[2020-01-12 21:06] adam-m-jcbs opened #11 "WiFi Broken Again?"
I seem to be having issues similar to those outlines in #3 .  But for me the wireless still doesn't work.  I used the get_firmware script and your latest v4.19 boot img (I couldn't manage to make a signed image on my own).

I love this project!  Everything is working but wireless (I can get by with ethernet in a pinch).  I don't think I'm quite the kernel hacker you are.  Any pointers or advice on

[2020-01-12 21:34] denysvitali commented on #11
Hello there!
Thank you for opening this issue!

Can you please try with one of the attached boot images?

- [boot-5.5-rc5.zip](https://github.com/denysvitali/linux-on-pixel-c/files/4051437/boot-5.5-rc5.zip)
- [vartom.zip](https://github.com/denysvitali/linux-on-pixel-c/files/4051458/vartom.zip)

Out of curiosity, which rootfs are you using?

[2020-01-14 16:24] adam-m-jcbs commented on #11
Thanks for the reply! I'm quite busy at the moment, so it may be a while before I get back to you. But I greatly appreciate the files.

I adapted the Arch Linux rootfs that can be built with the scripts linux-on-pixelc provides (something like rootfs_builder). The default didn't work, but it was a good enough starting point to build a Arch Linux rootfs that runs and appears to be stable as long as

[2020-01-18 21:02] adam-m-jcbs commented on #11
I'm curious: is `boot.img` just a convention, or is it mandatory for the image to be named `boot.img`?  I prefer to give mine slightly more illuminating names.

[2020-01-18 21:16] adam-m-jcbs commented on #11
Update:

`boot-5.5-rc5.zip` fails.  I boot into it via `fastboot` and it seems to just get the backlight going before hanging a bit, then it reboots.

`vartom.zip` fails even before booting.  I get (please forgive the `zsh` cruft):

[code]

Once I flash back the `v4.19-smaug-data` image I got from you, my very nearly-perfect OS is running.  Works great, just would be extremely useful with wifi.  I

[2020-01-18 21:19] adam-m-jcbs commented on #11
Alternatively, if I could share my laptop's connection over usb, that would be a pretty workable solution for the moment.  Not sure how to get started with doing that securely and such.

[2020-01-18 21:22] denysvitali commented on #11
[boot-5.1-rc2.zip](https://github.com/denysvitali/linux-on-pixel-c/files/4081783/boot-5.1-rc2.zip)

This should work. We are working on bringing 5.5-rc6, but it doesn't seem to work. Join us at https://telegram.me/pixelclinux

[2020-01-19 17:51] adam-m-jcbs commented on #11
Note: The issue ultimately ended up being one, apparently, with my `netctl` package.  Switching to `NetworkManager`, I was able to connect over wifi without issue.

Much thanks to @denysvitali for helping me debug this.

[2020-01-19 17:51] #11 closed

[2021-07-16 09:30] clort81 commented on #7
To provide updated info: there is linux on:
Nokia N900
Motorola Droid4
Pinephone 64
I run some opengl games and apps on Droid4.
This project has done nice work: [https://maemo-leste.github.io/]( https://maemo-leste.github.io/ )

[2021-07-16 11:24] mirh commented on #7
There is actually linux on a fuckton more phones
http://postmarketos.org/

Since 4 years ago, open gpu drivers have far more improved.